{% extends 'VisyVisyAdminBundle:Default:layout.html.twig' %}

{% block css %}
    {{ parent() }}

    {#
    {% if 1 %}
        <link href="/css/admin/crud.css" type="text/css" rel="stylesheet"/>
    {% else %}
        {% stylesheets
        '@VisyVisyAdminBundle/Resources/public/scss/crud.scss'
        output='css/admin/crud.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endif %}
    #}

{% endblock %}

{% block body_class %}{{ parent() }}signed crud has-navigation {% if has_breadcrumbs %} has-breadcrumbs{% endif %}{% endblock %}

{% block ribbon %}{% endblock %}

{% block stream %}
    <div id="stream">

        <header class="page-header" id="header">
            {% block header %}{# <h1>CRUD</h1> #}{% endblock %}
        </header>

        {% block breadcrumb %}
            {% if has_breadcrumbs and breadcrumbs %}
                <nav id="breadcrumb">
                    <ol class="breadcrumb">
                        {% for crumb in breadcrumbs %}
                            <li>
                                {% if crumb.uri and not loop.last -%}
                                <a href="{{ crumb.uri }}">
                                    {% endif -%}
                                    {{ crumb.title }}
                                    {% if crumb.uri -%}
                                </a>
                                {% endif -%}
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}
        {% endblock %}

        {% block toolbar %}{% endblock %}

        {% block submenu %}{% endblock %}

        {% block main %}
            <main id="main">
                {% block content %}{% endblock %}
            </main>
        {% endblock %}

        {% block pagination %}{# <nav id="pagination"></nav> #}{% endblock %}

        <footer id="footer">
            {% block footer %}{% endblock %}
        </footer>

    </div>
{% endblock %}

{% block body_js %}

    {% javascripts
    '@visy_admin_vendors_js'
    filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}