{% extends 'VisyVisyAdminBundle:Crud:index.html.twig' %}

{% block table %}
    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Název</th>
                <th>Autor</th>
                {#
                <th>Typ</th>
                <th>Popis</th>
                #}
                <th>Lokalita</th>
                <th>Hlasů</th>
                <th>Vytvořeno</th>
                <th>Změněno</th>
                <th>Aktivní</th>
            </tr>
        </thead>

        <tbody>
            {% for entity in pagination %}
                <tr>
                    <td class="actions">
                        {{ include('VisyVisyAdminBundle:Crud/index:actions.html.twig', { 'controller': controller, 'entity': entity }) }}
                    </td>
                    {{ include('VisyVisyAdminBundle:Crud/index/fields:pkey.html.twig', { 'controller': controller, 'entity': entity }) }}
                    <td class="name">
                        <strong>{{ entity.name }}</strong>
                    </td>
                    {#
                    <td class="type">
                        {{ entity.type }}
                    </td>
                    #}
                    <td class="author">
                        {{ entity.author }}
                    </td>
                    {#
                    <td class="description">
                        <small>{{ entity.description }}</small>
                    </td>
                    #}
                    <td class="location">
                        <small>{{ entity.location }}</small>
                    </td>
                    <td class="num vote-count">
                        {{ entity.voteCount }}
                    </td>
                    <td class="date create-date">
                        <small>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i') }}{% endif %}</small>
                    </td>
                    <td class="date update-date">
                        <small>{% if entity.updateDate %}{{ entity.updateDate|date('Y-m-d H:i') }}{% endif %}</small>
                    </td>
                    {{ include('VisyVisyAdminBundle:Crud/index/fields:boolean.html.twig', { 'controller': controller, 'value': entity.enabled }) }}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
