{% extends 'VisyVisyAdminBundle:Crud:show.html.twig' %}

{% block content %}
    <div id="show">
        <table class="table show">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Název</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>{{ entity.author }}</td>
                </tr>
                <tr>
                    <th>Lokalita</th>
                    <td>{{ entity.location }}</td>
                </tr>
                {#
                <tr>
                    <th>Type</th>
                    <td>{{ entity.type }}</td>
                </tr>
                #}
                {#
                <tr>
                    <th>Touchdate</th>
                    <td>{{ entity.touchDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                #}
                <tr>
                    <th>Popis</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Obsah</th>
                    <td>{{ entity.content|raw }}</td>
                </tr>
                <tr>
                    <th>Tagy</th>
                    <td>{{ entity.tags }}</td>
                </tr>
                <tr>
                    <th>Počet hlasů</th>
                    <td>{{ entity.voteCount }}</td>
                </tr>
                <tr>
                    <th>Vytvořeno</th>
                    <td>{{ entity.createDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Upraveno</th>
                    <td>{{ entity.updateDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Aktivní</th>
                    <td>
                        <i class="glyphicon glyphicon-{% if entity.enabled %}check{% else %}unchecked{% endif %}"></i> {% if entity.enabled %}ano{% else %}ne{% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
