{% extends 'VisyVisyAdminBundle:Default:crud.html.twig' %}

{% trans_default_domain 'visy_admin_crud' %}

{% block body_class %}{{ parent() }} crud-edit{% if has_sub_menu is not null and has_sub_menu %} crud-has-sub-menu{% endif %}{% if has_sup_menu is not null and has_sup_menu %} crud-has-sup-menu{% endif %}{% endblock %}

{% block ribbon %}
    {#
    <div id="ribbon"></div>
    #}
{% endblock %}

{% block header %}
    <h1>{{ entity_title }}</h1>
{% endblock %}

{% block sub_menu %}
    {% if sub_menu %}
        <div class="menu sub_menu crud-sub-menu">
            {{ knp_menu_render(sub_menu, { 'style': 'stacked-pills' }) }}
        </div>
    {% endif %}
{% endblock %}

{% block sup_menu %}
    {% if sup_menu %}
        <div class="menu sub_menu crud-sub-menu sup_menu crud-sup-menu">
            {{ knp_menu_render(sup_menu, { 'style': 'stacked-pills' }) }}
        </div>
    {% endif %}
{% endblock %}

{% block toolbar %}
    <div id="toolbar" class="btn-toolbar" role="toolbar">

        {{ form(delete_form, { id: 'form-delete' }) }}

        {#
        {{  form_start(delete_form) }}

            {{ form_row(delete_form._token) }}
            {{ form_row(delete_form.submit, { 'label': 'Smazat' }) }}

        {{ form_end(delete_form) }}
        #}

        <a class="btn btn-default" href="{{ crud_index_path(controller) }}">
            <span class="glyphicon glyphicon-list"></span> {{ 'list' | trans }}
        </a>
    </div>
{% endblock %}

{% block content %}

    <div id="form">
        {{ form(edit_form) }}
    </div>

{% endblock %}
