{% extends 'VisyVisyAdminBundle:Default:crud.html.twig' %}

{% trans_default_domain 'visy_admin_crud' %}

{% block body_class %}{{ parent() }} crud-show{% if has_sub_menu is not null and has_sub_menu %} crud-has-sub-menu{% endif %}{% if has_sup_menu is not null and has_sup_menu %} crud-has-sup-menu{% endif %}{% endblock %}

{% block header %}
    <h1>{{ entity_title }}</h1>
{% endblock %}

{% block toolbar %}
    <div id="toolbar" class="btn-toolbar" role="toolbar">

        {{ form(delete_form, { id: 'form-delete' }) }}

        <a class="btn btn-default" href="{{ crud_index_path(controller) }}">
            <span class="glyphicon glyphicon-list"></span> {{ 'list' | trans }}
        </a>

        <a class="btn btn-primary" href="{{ crud_edit_path(controller, entity) }}">
            <span class="glyphicon glyphicon-edit"></span> {{ 'edit' | trans }}
        </a>

    </div>
{% endblock %}

{% block sup_menu %}
    {% if sup_menu %}
        <div class="menu sub_menu sup_menu crud-sup-menu">
            {{ knp_menu_render(sup_menu, { 'style': 'stacked-pills' }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="detail">
        <table class="table table-bordered">
            <tbody>
                {#
                <tr>
                    <th>ID</th>
                    <td>{{ entity.id }}</td>
                </tr>
                #}
            </tbody>
        </table>
    </div>
{% endblock %}
